body {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $primary-txt;
  background-color: $primary-bg;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

// container
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
