/* Особенности */

.features__section {
  padding-bottom: 0;
}

.features {
  @extend %list;
  @include grid(30px);
}

.features__item {
  @include grid__item(30px, 4);
}

.features__icon-bgc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
}
.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $secondary-txt;
}
